@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>List of Kids to Assign Chores</h1>
</div>

<div>
    <h4>
        <span style="text-align-last:right">
            @Html.ActionLink("Click to add a Kid", "CreateKid") <br />
            @Html.ActionLink("Click to add a Room", "CreateRoom")
        </span>
    </h4>
</div>

<table class="table table-striped table-hover">
    <tr>
        <th>
            <b>First Name</b>
        </th>
        <th>
            <b>Last Name</b>
        </th>
        <th>
            <b>Details | Edit | Delete</b>
        </th>
    </tr>

    @foreach (var kid in Model.Kids)
    {
        <tr>
            <td>@kid.FirstName</td>
            <td>@kid.LastName</td>
            <td>
                <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("DetailKid", "Home", new { id = kid.Id })'">Details</button>
                | <button class="btn btn-default btn-xs" onclick="location.href='@Url.Action("EditKid", "Home", new { id = kid.Id })'">Edit</button>
                | <button class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("DeleteKid", "Home", new { id = kid.Id })'">Delete</button>
            </td>
        </tr>
    }
</table>
